html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  display: block; }

a, a:hover, a:active, a:visited {
  text-decoration: none; }

html {
  color: #323232;
  font-family: 'Josefin Sans', Arial;
  font-size: 16px;
  line-height: 1.25; }

body {
  background: #EFF1F0;
  min-height: 100vh; }

.vh {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0); }

.vh.focusable:active,
.vh.focusable:focus {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto; }

.container {
  max-width: 720px;
  margin: 10vh auto 0; }

@media screen and (max-width: 767px) {
  .container {
    margin: 10vh auto;
    width: 90%; } }
.header {
  display: block;
  margin: 0 auto 60px;
  max-width: 75%;
  text-align: center; }

.heading--alpha {
  font-family: 'Josefin Slab';
  color: #34495e;
  font-size: 3.25rem;
  line-height: 1.35;
  margin-bottom: 10px; }

button {
  border: 0;
  width: 100%;
  font-size: 1em; }

p {
  line-height: 1.25;
  margin: 20px 0 0 0; }
  p:not(:last-of-type) {
    margin-bottom: 20px; }

a {
  color: #34495e; }

.inline-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }

.inline-list__item {
  display: inline-block; }

.icon-link {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px;
  text-decoration: none; }
  .icon-link:focus {
    color: #2574A9;
    outline: auto 2px #2574A9; }
    .icon-link:focus .icon-link__text {
      box-shadow: inset 0 -3px #2574A9; }
    .icon-link:focus svg {
      fill: #2574A9; }
  .icon-link svg {
    transition: all ease-in-out 0.2s;
    fill: #34495e;
    margin-left: 0.5rem; }

@media screen and (min-width: 768px) {
  .icon-link:hover {
    color: #2574A9; }
    .icon-link:hover .icon-link__text {
      box-shadow: inset 0 -3px #2574A9; }
    .icon-link:hover svg {
      fill: #2574A9; } }
.icon-link__text {
  transition: all ease-in-out 0.2s;
  box-shadow: inset 0 -2px currentColor; }

.logo {
  display: block;
  max-width: 420px;
  margin: 0 auto 40px; }

.accordion {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden; 
}

.accordion__trigger {
  align-content: space-between;
  align-items: center;
  display: flex;
  width: 100%; 
  
}
.accordion__trigger:focus {
  outline: none;
}

.accordion__trigger::-moz-focus-inner {
    border: none; }

.accordion__trigger-title {
  transition: ease-in-out 0.3s; 
}

.accordion__panel {
  position: relative; 
}

.accordion__panel {
  max-height: 75vh;
  overflow: hidden; 
}

.accordion__item--closed .accordion__panel { max-height: 0 !important; }

.accordion--initalised .accordion__panel {
  transition: max-height ease-in-out 0.2s; 
}

/*# sourceMappingURL=accordion.css.map */